.img2{
    height: 100px;
    width: 100px;
    float: right;
    padding-left: 10px;
    margin-left: 10px;
}
.img4{
    height: 100px;
    width: 100px;
    float: right;
    padding-left: 10px;
    margin-left: 10px;
}

.img1{
    height: 100px;
    width: 100px;
    float: right;
    padding-left: 10px;
    margin-left: 10px;
}
.white-box p{
    text-align: justify;
}
